.container {
  padding: 0 12.6rem;
}

.project {
  margin: 6rem 0 11rem;
}

.projectTitle {
  font-weight: 700;
  font-size: 6.6rem;
  line-height: 8rem;
  margin-bottom: 6rem;
}

.cardsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  gap: 3.2rem;
  align-items: stretch;
}

.cardLink {
  display: block;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 576px) {
  .container {
    padding: 0 2rem;
  }

  .projectTitle {
    font-size: 3.6rem;
    line-height: 4.4rem;
  }

  .cardsList {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    padding: 0 2.4rem;
  }
}

@media (min-width: 768px) and (max-width: 1180px) {
  .container {
    padding: 0 4rem;
  }
}

@media (min-width: 1180px) and (max-width: 1580px) {
  .container {
    padding: 0 6rem;
  }
}
