.review {
  padding: 20.6rem 12.6rem;
}

.reviewTitle {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 5.5rem;
  margin-bottom: 4rem;
}

.sliderWrapper {
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.4s ease;
  touch-action: pan-y;
}

.slide {
  min-width: 50%;
  padding-right: 2.6rem;
  box-sizing: border-box;
}

.reviewCard {
  background: #1e1e1e;
  border-radius: 4rem;
  padding: 6.5rem 5rem;
  height: 100%;
}

.cardFeeback {
  font-size: 1.8rem;
  line-height: 3.2rem;
}

.user {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  gap: 2.2rem;
}

.userAvatar {
  width: 5.8rem;
  height: 5.8rem;
  border-radius: 50%;
}

.userFullName {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.userRole {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-top: 0.6rem;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 1.2rem;
}

.dot {
  width: 1rem;
  height: 1rem;
  background: #555;
  border-radius: 50%;
  cursor: pointer;
}

.activeDot {
  background: #88b702;
}

@media (min-width: 940px) and (max-width: 1280px) {
  .review {
    padding: 14rem 6rem;
  }
}

@media (min-width: 768px) and (max-width: 940px) {
  .review {
    padding: 10rem 4rem;
  }

  .reviewTitle {
    font-size: 3.4rem;
    line-height: 4.4rem;
  }

  .slide {
    min-width: 100%;
    padding-right: 0;
  }

  .reviewCard {
    padding: 5rem 4rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .review {
    padding: 6rem 2rem;
  }

  .slide {
    min-width: 100%;
    border-radius: 4rem;
  }

  .reviewCard {
    background: radial-gradient(#597b03 0%, #0f0f0f 99%);
    box-shadow: none;
    padding: 0;
  }

  .reviewTitle {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  .reviewCard {
    padding: 4rem 2.4rem;
    border-radius: 3rem;
  }

  .cardFeeback {
    font-size: 1.5rem;
    line-height: 2.6rem;
  }

  .user {
    gap: 1.6rem;
  }

  .userFullName,
  .userRole {
    font-size: 1.4rem;
  }

  .dot {
    width: 0.8rem;
    height: 0.8rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .review {
    padding: 6rem 1.6rem;
  }

  .slide {
    min-width: 100%;
    border-radius: 4rem;
  }

  .reviewCard {
    background: radial-gradient(#597b03 0%, #0f0f0f 99%);
    box-shadow: none;
    padding: 0;
  }

  .reviewTitle {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  .reviewCard {
    padding: 4rem 2.4rem;
    border-radius: 3rem;
  }

  .cardFeeback {
    font-size: 1.5rem;
    line-height: 2.6rem;
  }

  .user {
    gap: 1.6rem;
  }

  .userFullName,
  .userRole {
    font-size: 1.4rem;
  }

  .dot {
    width: 0.8rem;
    height: 0.8rem;
  }
}
