.review {
  padding: 20.6rem 12.6rem;
}

.reviewTitle {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 5.5rem;
  margin-bottom: 4rem;
}

.reviewList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 2.6rem;
}

.reviewCard {
  background: #1e1e1e;
  border-radius: 4rem;
  padding: 6.5rem 5rem;
  height: 100%;
}

.cardFeeback {
  font-size: 1.8rem;
  line-height: 3.2rem;
}

.user {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  gap: 2.2rem;
}

.userAvatar {
  width: 5.8rem;
  height: 5.8rem;
  border-radius: 50%;
}

.userFullName {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.userRole {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-top: 0.6rem;
}

@media (min-width: 940px) and (max-width: 1280px) {
  .review {
    padding: 14rem 6rem;
  }
}

@media (min-width: 768px) and (max-width: 940px) {
  .review {
    padding: 10rem 4rem;
  }

  .reviewTitle {
    font-size: 3.4rem;
    line-height: 4.4rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .review {
    padding: 6rem 2rem;
  }

  .reviewTitle {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  .cardFeeback {
    font-size: 1.5rem;
    line-height: 2.6rem;
  }

  .user {
    gap: 1.6rem;
  }

  .userFullName,
  .userRole {
    font-size: 1.4rem;
  }
}

@media (min-width: 390px) and (max-width: 480px) {
  .review {
    padding: 6rem 2.4rem;
  }

  .reviewTitle {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  .cardFeeback {
    font-size: 1.5rem;
  }

  .user {
    gap: 1.6rem;
  }

  .userFullName,
  .userRole {
    font-size: 1.4rem;
  }
}

@media (min-width: 320px) and (max-width: 390px) {
  .review {
    padding: 4rem 2rem;
  }
}
