.container {
  width: 608px;
  margin: 0 auto;
}

.section {
  display: flex;
  margin-top: 106px;
  justify-content: center;
  margin-bottom: 50px;
}

.section img {
  width: 628px;
  height: 623px;
}

.infoBox {
  display: flex;
  flex-direction: column;
  width: 608px;
  gap: 142px;
}

.infoTexts h2 {
  font-weight: 700;
  font-style: Bold;
  font-size: 42px;
  line-height: 55.02px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.infoTexts span {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 16px;
}

.infoTexts span p {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
}

@media (max-width: 391px) {
  .container {
    width: 358px;
    margin: 0 auto;
  }

  .section {
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 50px;
  }

  .section img {
    margin-top: 38px;
    width: 412px;
    height: 398px;
  }

  .infoBox {
    width: 358px;
    gap: 142px;
  }

  .infoTexts h2 {
    font-size: 28px;
    line-height: 36px;
  }

  .infoTexts span p {
    font-size: 16px;
    line-height: 26px;
  }
}
