.container {
  padding: 17rem 21rem;
}

.headTitle {
  padding: 0 2.4rem;
  font-weight: 700;
  font-style: Bold;
  font-size: 6.6rem;
  line-height: 7rem;
  text-align: center;
}

.headDescription {
  padding: 2.1rem 24rem;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

/*  */
/*  */

.yourProject {
  padding: 0 13rem;
}

.projectTitle {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 5.5rem;
  text-align: center;
  color: #ffffff;
}

.projectDescription {
  padding: 1.6rem 38rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  text-align: center;
  color: #ffffff;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2.6rem;
  padding: 4.6rem 0;
}

.card {
  background-color: #1e1e1e;
  border-radius: 4rem;
  padding: 4.8rem 2.8rem;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 1.2rem;
}

.bigCard {
  width: 47.7rem;
  background-color: #88b702;
  color: white;
  grid-column: 2;
  grid-row: 1 / 3;
  display: flex;
  padding: 4.8rem 2.2rem;
  position: relative;
  overflow: hidden;
}

.cardTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin-top: 1rem;
}

.cardDescription {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: start;
  margin: 0;
}

.icons {
  width: 6.8rem;
  height: 6.8rem;
  background: #88b702;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 4.2rem;
  height: 3.4rem;
}

.bigCard .icons .icon {
  position: absolute;
  width: 34.8rem;
  height: 50rem;
  top: 21.5rem;
  left: 5.5rem;
}

.bigCard .cardTitle {
  position: absolute;
  top: 4.4rem;
}

.bigCard .cardDescription {
  position: absolute;
  width: 38.3rem;
  top: 9.2rem;
}

@media (min-width: 940px) and (max-width: 1280px) {
  .container {
    padding: 10rem 6rem;
  }

  .headTitle {
    width: 70rem;
    margin: 0 auto;
    padding: 0;
    font-style: Bold;
    font-size: 4.6rem;
    line-height: 5.2rem;
  }

  .headDescription {
    width: 50rem;
    margin: 0 auto;
    padding: 1.8rem 0;
    font-size: 1.6rem;
  }

  .yourProject {
    padding: 0 5rem;
  }

  .projectDescription {
    padding: 0;
    width: 48rem;
    margin: 0 auto;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
    padding: 4rem 0;
  }

  .card {
    background-color: #1e1e1e;
    border-radius: 4rem;
    padding: 3.8rem 2rem;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1.2rem;
  }

  .bigCard {
    width: 40rem;
    background-color: #88b702;
    color: white;
    grid-column: 2;
    grid-row: 1 / 3;
    display: flex;
    padding: 4rem 2.2rem;
    position: relative;
    overflow: hidden;
  }

  .bigCard .icons .icon {
    position: absolute;
    width: 30rem;
    height: 50rem;
    top: 21.5rem;
    left: 5.5rem;
  }

  .bigCard .cardTitle {
    position: absolute;
    top: 4.4rem;
  }

  .bigCard .cardDescription {
    position: absolute;
    width: 30rem;
    top: 9.2rem;
  }
}

@media (min-width: 768px) and (max-width: 940px) {
  .container {
    padding: 10rem 4rem;
  }

  .headTitle {
    width: 55rem;
    margin: 0 auto;
    font-style: Bold;
    font-size: 3.4rem;
    line-height: 4.2rem;
  }

  .headDescription {
    width: 35rem;
    margin: 0 auto;
    padding: 1.4rem 0;
    font-size: 1.6rem;
  }

  .yourProject {
    padding: 0 4rem;
  }

  .projectTitle {
    font-size: 3.8rem;
    line-height: 5rem;
  }

  .projectDescription {
    padding: 0;
    width: 50rem;
    margin: 0 auto;
    font-size: 2rem;
  }

  .content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .card {
    width: 35.8rem;
    margin: 0 auto;
  }

  .bigCard {
    grid-column: auto;
    grid-row: auto;
  }

  .card .cardTitle,
  .bigCard .cardTitle {
    font-size: 18px;
    margin-top: 10px;
    width: 300px;
  }

  .card .cardDescription,
  .bigCard .cardDescription {
    font-size: 16px;
    width: 30rem;
    text-align: start;
    margin: 0;
  }

  .bigCard {
    width: 358px;
    height: 622px;
  }

  .icons {
    width: 68px;
    height: 68px;
    background: #88b702;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    width: 42px;
    height: 34px;
  }

  .bigCard .icons .icon {
    position: absolute;
    width: 28.1rem;
    height: 50rem;
    top: 19.5rem;
    left: 3.8rem;
  }
}

@media (min-width: 390px) and (max-width: 768px) {
  .container {
    padding: 0 2.4rem;
  }

  .headTitle {
    width: 100%;
    padding: 0;
    text-align: start;
    font-style: Bold;
    font-size: 3.2rem;
    line-height: 4.6rem;
  }

  .headDescription {
    width: 100%;
    padding: 1.6rem 0;
    text-align: start;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .yourProject {
    padding: 0 2.4rem;
  }

  .projectTitle {
    text-align: start;
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  .projectDescription {
    text-align: start;
    padding: 0;
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .card {
    width: 35rem;
  }

  .bigCard {
    grid-column: auto;
    grid-row: auto;
  }

  .card .cardTitle,
  .bigCard .cardTitle {
    font-size: 1.8rem;
    margin-top: 1rem;
    width: 30rem;
  }

  .card .cardDescription,
  .bigCard .cardDescription {
    font-size: 1.6rem;
    width: 30rem;
    text-align: start;
    margin: 0;
  }

  .bigCard {
    width: 35rem;
    height: 62.2rem;
  }

  .icons {
    width: 6.8rem;
    height: 6.8rem;
    background: #88b702;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    width: 4.2rem;
    height: 3.4rem;
  }

  .bigCard .icons .icon {
    position: absolute;
    width: 28.1rem;
    height: 50rem;
    top: 19.5rem;
    left: 3.8rem;
  }
}

@media (min-width: 320px) and (max-width: 390px) {
  .container {
    padding: 0 2.4rem;
  }

  .headTitle {
    width: 100%;
    padding: 0;
    text-align: start;
    font-style: Bold;
    font-size: 3.2rem;
    line-height: 4.6rem;
  }

  .headDescription {
    width: 100%;
    padding: 1.6rem 0;
    text-align: start;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .yourProject {
    padding: 0 2.4rem;
  }

  .projectTitle {
    text-align: start;
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  .projectDescription {
    text-align: start;
    padding: 0;
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .card {
    width: 27rem;
    margin: 0 auto;
  }

  .bigCard {
    grid-column: auto;
    grid-row: auto;
  }

  .card .cardTitle,
  .bigCard .cardTitle {
    font-size: 1.8rem;
    margin-top: 1rem;
    width: 24rem;
  }

  .card .cardDescription,
  .bigCard .cardDescription {
    font-size: 1.6rem;
    width: 22rem;
    text-align: start;
    margin: 0;
  }

  .bigCard {
    width: 27rem;
    height: 42rem;
  }

  .icons {
    width: 6.8rem;
    height: 6.8rem;
    background: #88b702;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    width: 4.2rem;
    height: 3.4rem;
  }

  .bigCard .icons .icon {
    position: absolute;
    width: 22rem;
    height: 30rem;
    top: 22rem;
    left: 2.2rem;
  }
}
