@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* --------------------------------------------------------------------------- */
/* FONT */
/* --------------------------------------------------------------------------- */

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans/DMSans-Thin.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans/DMSans-ExtraLight.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans/DMSans-Light.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans/DMSans-Regular.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans/DMSans-Medium.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans/DMSans-SemiBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans/DMSans-Bold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans/DMSans-ExtraBold.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans/DMSans-Black.ttf") format("truetype");
  font-weight: 900;
}

/* --------------------------------------------------------------------------- */
/* RESET */
/* --------------------------------------------------------------------------- */

input {
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: #050605;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input {
  font-size: inherit;
}

img {
  height: auto;
  width: -webkit-fill-available;
}

[hidden] {
  display: none !important;
}

ul {
  list-style: none;
}

button {
  border: none;
}

/* --------------------------------------------------------------------------- */
/* GLOBALS */
/* --------------------------------------------------------------------------- */

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #ffffff;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

button {
  -webkit-app-region: no-drag;
}

/* --------------------------------------------------------------------------- */
/* FORM CONTROLS */
/* --------------------------------------------------------------------------- */

input,
textarea {
  border-radius: 0.5rem;
  background-color: #fff0;
  width: 100%;
  font-size: 1.8rem;
  line-height: 1.6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  padding: 0;
}

textarea {
  resize: none;
}

::placeholder {
  color: #ffffff;
}

/* --------------------------------------------------------------------------- */
/* SCROLL */
/* --------------------------------------------------------------------------- */

[contenteditable] {
  outline: 0px solid transparent;
}
