.newCard {
  background-color: #1e1e1e;
  border-radius: 4rem;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.media {
  position: relative;
}

.newCardImg {
  width: 100%;
  display: block;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.newCardBtn {
  position: absolute;
  left: 2.2rem;
  bottom: -1.8rem;
  padding: 0.9rem 2.4rem;
  border-radius: 100rem;
  background-color: #88b702;
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.content {
  padding: 5.2rem 2.2rem 3.8rem;
}

.newCardTitle {
  font-size: 2.2rem;
}

.newCardDescription {
  margin-top: 3.2rem;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

.newCardLine {
  width: 88%;
  margin: 3.2rem auto 0;
  border: 0.1rem solid #343534;
}

.newCardUser {
  display: flex;
  gap: 2.2rem;
  margin-top: 2.8rem;
}

.newCardAvatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.userTexts {
  margin-top: 1rem;
}

.userFullName,
.aboutUser {
  font-size: 1.6rem;
  text-transform: uppercase;
}
