.advantagesInfo {
  display: flex;
  align-items: center;
  margin-top: 1.6rem;
  gap: 1.6rem;
}

.advantagesIcons {
  background-color: #88b702;
  padding: 1rem;
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantagesInfoText {
  width: 42rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

@media (min-width: 940px) and (max-width: 1280px) {
 
}

@media (min-width: 768px) and (max-width: 940px) {
  .advantagesInfo {
    width: 33rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin: 1.6rem auto;
  }

  .advantagesInfoText {
    width: 22.2rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

@media (min-width: 390px) and (max-width: 768px) {
  .advantagesInfoText {
    width: 22.2rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

@media (min-width: 320px) and (max-width: 390px) {
  .advantagesInfoText {
    width: 22rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}
