.container {
  max-width: 1180px;
  margin: 0 auto;
}

.project {
  margin-top: 170px;
  margin-bottom: 80px;
}

.project span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project span h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 42px;
  line-height: 55.02px;
  letter-spacing: 0px;
}

.project span p {
  width: 568px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  width: 382px;
  height: 472px;
  border-radius: 40px;
  background-color: #1e1e1e;
}

.card img {
  height: 215px;
}

.card button {
  width: 109px;
  height: 36px;
  border-radius: 1000px;
  background-color: #88b702;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.7px;
  vertical-align: middle;
  text-transform: uppercase;
  margin-left: 22px;
  margin-top: -22px;
}

.card h3 {
  margin-left: 22px;
  margin-top: 40px;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 31px;
}

.card p {
  width: 328px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-left: 22px;
  margin-top: 8px;
  margin-bottom: 38px;
}

@media (max-width: 391px) {
  .container {
    width: 358px;
    margin: 0 auto;
  }

  .project {
    margin-top: 80px;
  }

  .project span {
    flex-direction: column;
    align-items: flex-start;
  }

  .project span h1 {
    width: 305px;
    font-size: 28px;
    line-height: 36px;
  }

  .project span p {
    width: 330px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 26px;
  }

  .card {
    width: 358px;
    height: 477px;
  }

  .card p {
    width: 310px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 26px;
  }
}
