/* ===== SECTION ===== */
.news {
  padding: 17rem 12.6rem;
}

.newsTitle {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 5.5rem;
  margin-bottom: 6rem;
}

.sliderWrapper {
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.4s ease;
  touch-action: pan-y;
}

.slide {
  flex: 0 0 33.333%;
  padding-right: 2.6rem;
  box-sizing: border-box;
}

.newCard {
  background-color: #1e1e1e;
  border-radius: 4rem;
  height: 100%;
  overflow: hidden;
}

.newCardImg {
  width: 100%;
  display: block;
}

.newCardBtn {
  padding: 0.9rem 1.4rem;
  border-radius: 100rem;
  background-color: #88b702;
  color: #fff;
  font-size: 1.4rem;
  margin: -2.2rem 0 0 2.2rem;
}

.newCardTitle {
  margin: 4rem 2.2rem 0;
  font-size: 2.2rem;
}

.newCardDescription {
  margin: 3.2rem 2.2rem 3.8rem;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

.newCardLine {
  width: 88%;
  margin: 0 auto;
  border: 0.1rem solid #343534;
}

.newCardUser {
  display: flex;
  gap: 2.2rem;
  margin: 2.8rem 2.2rem 4rem;
}

.newCardAvatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.userTexts {
  margin-top: 1rem;
}

.userFullName,
.aboutUser {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.newDots {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 3rem;
}

.newDot {
  width: 1.2rem;
  height: 1.2rem;
  background: #555;
  border-radius: 50%;
  cursor: pointer;
}

.newActiveDot {
  background: #88b702;
  transform: scale(1.2);
}

@media (max-width: 576px) {
  .news {
    padding: 8rem 2rem;
  }

  .slide {
    flex: 0 0 100%;
    padding-right: 0;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .news {
    padding: 8rem 2rem;
  }

  .slide {
    flex: 0 0 66.666%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .news {
    padding: 8rem 4rem;
  }

  .slide {
    flex: 0 0 50%;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .slide {
    flex: 0 0 40%;
  }
}

@media (min-width: 1280px) and (max-width: 1580px) {
  .slide {
    flex: 0 0 33.333%;
  }
}

@media (min-width: 158rem) {
  .slide {
    flex: 0 0 26%;
  }
}
