.container {
  width: 1198px;
  margin: 0 auto;
}

.OurPrinciples span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.OurPrinciples span h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 42px;
  line-height: 55.02px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.OurPrinciples span p {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  width: 468px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 28px;
  gap: 28px;
}

.card {
  width: 585px;
  height: 246px;
  background-color: #1e1e1e;
  border-radius: 40px;
  padding: 58px 32px;
  display: flex;
}

.cardIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #88b702;
  border-radius: 20px;
  width: 68px;
  height: 68px;
}

.cardText {
  width: 402px;
  margin-left: 24px;
}

.cardText h2 {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 25.99px;
  letter-spacing: 0.9px;
  vertical-align: middle;
  text-transform: uppercase;
}

.cardText p {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-top: 10px;
}

@media (max-width: 391px) {
  .container {
    width: 358px;
    margin: 0 auto;
  }

  .OurPrinciples span {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }

  .OurPrinciples span p {
    font-size: 16px;
    line-height: 26px;
    width: 330px;
  }

  .cards {
    margin-top: 32px;
    gap: 16px;
  }

  .card {
    width: 358px;
    height: auto;
    padding: 58px 32px;
    flex-direction: column;
  }

  .cardText {
    width: 294px;
    margin-left: 0;
    margin-top: 24px;
  }
}
