.advantages {
  margin-top: 215px;
  display: flex;
  justify-content: space-between;
}

.advantagesText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantagesTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 42px;
  line-height: 55.02px;
}

.advantagesDescription {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  width: 470px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.advantagesInfo {
  display: flex;
  align-items: center;
  margin-top: 16px;
  gap: 16px;
}

.advantagesInfo .advantagesIcons {
  background-color: #88b702;
  width: 46px;
  height: 46px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantagesIcons {
  width: 30px;
  height: 30px;
}

.advantagesInfoText {
  width: 420px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

@media (max-width: 391px) {
  .advantages {
    margin-top: 80px;
    flex-direction: column;
  }

  .advantagesText {
    margin-top: 40px;
  }

  .advantagesTitle {
    font-size: 28px;
    line-height: 36px;
  }

  .advantagesDescription {
    font-size: 16px;
    line-height: 26px;
    width: 330px;
    margin-top: 16px;
  }

  .advantagesInfo {
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 16px;
  }

  .advantagesInfoText {
    width: 222px;
    font-size: 16px;
    line-height: 26px;
  }
}
