.card {
  display: flex;
}

.cardColum {
  gap: 1.2rem;
  border-radius: 4rem;
  padding: 4.8rem 2.8rem;
  flex-direction: column;
  background-color: #1e1e1e;
}

.cardRow {
  gap: 1.7rem;
  align-items: center;
  flex-direction: row;
  padding-top: 1.6rem;
}

.icons {
  display: flex;
  align-items: center;
  background: #88b702;
  justify-content: center;
}

.columIcon {
  width: 6.8rem;
  height: 6.8rem;
  padding: 1.4rem;
  border-radius: 2rem;
}
.rowIcon {
  width: 4.6rem;
  height: 4.6rem;
  padding: 0.8rem;
  border-radius: 1.3rem;
}

.icon {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.cardTitle {
  font-size: 1.8rem;
}

.cardTitleColum {
  font-weight: 700;
  font-style: Bold;
  text-transform: uppercase;
}

.cardTitleRow {
  font-weight: 400;
}

.cardDescription {
  font-weight: 400;
  font-size: 1.6rem;
  text-align: start;
}