.container {
  max-width: 1195px;
  margin: 0 auto;
}

section h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 66px;
  line-height: 79.99px;
  letter-spacing: -1px;
  vertical-align: middle;
  margin-top: 80px;
}

.form {
  width: 754px;
  margin-top: 52px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
}

.fieldFull {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 12px;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 25.99px;
  letter-spacing: 0.9px;
  vertical-align: middle;
  text-transform: uppercase;
}

input,
textarea {
  background: #1e1e1e;
  border: none;
  outline: none;
  padding: 20px 25px;
  border-radius: 100px;
  color: #ffffff;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  vertical-align: middle;
}

textarea {
  height: 162px;
  border-radius: 16px;
  resize: none;
}

.sendBtn {
  width: 203px;
  height: 70px;
  border-radius: 80px;
  background: #88b702;
  color: #ffffff;
  cursor: pointer;
  justify-self: start;
  transition: 0.1s ease;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1.6px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.sendBtn:hover {
  background-color: #6fa001;
  transition: 0.1s ease;
}

.formBox {
  display: flex;
  justify-content: space-between;
}

.formText {
  width: 382px;
  margin-top: 52px;
}

.formText h3 {
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0.22px;
  vertical-align: middle;
}

.formText p {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-top: 16px;
}

.emails {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.email {
  display: flex;
  align-items: center;
  gap: 16px;
}

.email div {
  width: 38px;
  height: 38px;
  background: #88b702;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.email a {
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0%;
  vertical-align: middle;
}

@media (max-width: 391px) {
  .container {
    width: 358px;
    margin: 0 auto;
  }

  section h1 {
    font-size: 38px;
    line-height: 46px;
    margin-top: 48px;
  }

  .form {
    width: 358px;
    grid-template-columns: 1fr;
  }

  .fieldFull {
    grid-column: 1;
  }

  .sendBtn {
    grid-column: 1;
    width: 100%;
  }

  .formBox {
    flex-direction: column;
    margin-top: 0;
    gap: 48px;
  }

  .formText h3 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0px;
  }

  .formText p {
    font-size: 16px;
    line-height: 26px;
  }

  .emails {
    margin-top: 28px;
    gap: 24px;
  }
}
